<script setup lang="ts">
import EmployeeDialog from "@/components/EmployeeDialog.vue";
import ManageEmployee from "@/components/ManageEmployee.vue";
import { useEmployeeStore } from "@/stores/employee";
const employeeStore = useEmployeeStore();
</script>
<template>
  <ManageEmployee></ManageEmployee>
  <EmployeeDialog></EmployeeDialog>
</template>
