<script setup lang="ts">
import { useFoodStore } from "@/stores/foods";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const foodStore = useFoodStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await foodStore.saveFood();
  }
}

const selected = ref();
</script>

<template>
  <v-dialog v-model="foodStore.dialog" persistent>
    <v-card>
      <v-card-title>
        <span class="text-h5">เมนู</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="ชื่อเมนู *"
                  required
                  v-model="foodStore.editedFood.name"
                  :rules="[(v) => !!v || 'กรุณาระบุชื่อ']"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  label="ราคา *"
                  required
                  v-model.number="foodStore.editedFood.price"
                  :rules="[
                    (v) => !!v || 'กรุณาระบุราคา',
                    (v) =>
                      /^[\.0-9]*$/.test(v) ||
                      'กรุณาราคาเป็นตัวเลขจำนวนบวกเท่านั้น',
                    (v) =>
                      /^\d+(\.\d{1,2})?$/.test(v) ||
                      'กรุณาระบุราคาไม่ต่ำกว่า 0 และทศนิยมไม่เกิน 2 ตำแหน่ง',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-select
                  required
                  v-model="foodStore.editedFood.type"
                  label="เลือกประเภทอาหาร *"
                  :items="foodStore.addFoodTypes"
                  variant="solo"
                  :rules="[(v) => !!v || 'กรุณาเลือกประเภทอาหาร']"
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="foodStore.editedFood.info"
                  label="รายละเอียด"
                  persistent-hint
                  hint="ตัวอย่าง : อกไก่นุ่มสองชิ้น ราดด้วยซอสพริกไทยดำ"
                  :rules="[
                    (v) =>
                      v.length <= 40 || 'ระบุรายละเอียดได้ไม่เกิน 40 ตัวอักษร',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-file-input
                  v-model="foodStore.editedFood.files"
                  accept="image/*"
                  label="เลือกรูปภาพ"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-form>
        <small class="text-subtitle-2" style="color: red"
          >* จำเป็นต้องระบุ</small
        >
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="error" @click="foodStore.dialog = false"> ยกเลิก </v-btn>
        <v-btn color="blue-darken-2" variant="tonal" @click="save()">
          บันทึก
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped></style>
