<template>
  <v-app :theme="theme">
    <v-main>
      <RouterView> </RouterView>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";

const theme = ref("light");
</script>
