<script setup lang="ts">
import ManageChecklist from "@/components/ManageChecklist.vue";
import ManageChecklistDialog from "@/components/ManageChecklistDialog.vue";
</script>

<template>
  <ManageChecklistDialog></ManageChecklistDialog>
  <ManageChecklist></ManageChecklist>
</template>
