<script lang="ts" setup>
import { StreamBarcodeReader } from "vue-barcode-reader";
import { useRouter } from "vue-router";
import { useQrCodeStore } from "@/stores/qrcode";
import { useOrderStoreTest } from "@/stores/order";
import { useTableStore } from "@/stores/table";
import orderService from "@/services/order";
import { useOrderStore } from "@/stores/orders";
const orderStore = useOrderStore();

const router = useRouter();

const tableStore = useTableStore();
const qrcodeStore = useQrCodeStore();
async function onDecode(text: string) {
  console.log("decode " + text);
  router.replace("menuCus/" + text);
  qrcodeStore.orderUUID = text;
  qrcodeStore.link = text;
  qrcodeStore.position = "Cus";
  localStorage.setItem("positionQR", "Cus");

  await orderStore.findOneOrderById(qrcodeStore.orderUUID.toString());
  tableStore.getTableSelectedID = orderStore.oneOrder!.table?.id!;
  console.log(tableStore.getTableSelectedID);
}
</script>
<template>
  <StreamBarcodeReader @decode="onDecode"></StreamBarcodeReader>
  <!-- <StreamBarcodeReader
    @decode="onDecode"
    @loaded="onLoaded"
  ></StreamBarcodeReader> -->
</template>
