<!-- eslint-disable vue/multi-word-component-names -->
<script setup lang="ts">
import Charged from "@/components/Charged.vue";
import { mdiPlus, mdiTableFurniture, mdiCurrencyThb, mdiReload } from "@mdi/js";
import TableBoxPopCashier from "@/components/TableBoxPopCashier.vue";
import PopupTable from "@/components/PopupTable.vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { computed, onMounted, onUnmounted, ref, defineComponent } from "vue";
import { useFoodStore } from "@/stores/foods";
import { useTableStore } from "@/stores/table";
import PopupPayment from "@/components/PopupPayment.vue";
import { useOrderStore } from "@/stores/orders";
import { useReportStore } from "@/stores/report";
import { watch } from "vue";

const tableStore = useTableStore();
const orderStore = useOrderStore();
const foodStore = useFoodStore();
const reportStore = useReportStore();
let statusOrder = ref("");
const indexOrder = ref(0);
const date = new Date();

// const saleToday = ref(calSale());

var option3 = {
  series: [
    {
      name: "Desktops",
      data: [10, 41, 35, 51, 49, 62, 69, 91, 148],
    },
  ],
  chartOptions: {
    chart: {
      height: 350,
      type: "line",
      zoom: {
        enabled: false,
      },
      toolbar: {
        show: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    title: {
      text: "Product Trends by Month",
      align: "left",
    },
    grid: {
      row: {
        colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
        opacity: 0.5,
      },
    },
    xaxis: {
      categories: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
      ],
    },
  },
};

const options1 = ref({
  series: [81.5, 18.5],
  labels: ["รายรับ", "รายจ่าย"],
});

const fetchRealtimeData = () => {
  // await orderStore.getOrdersHavePaid();
  reportStore.calSale();
  reportStore.calBestFood();
  reportStore.calBadFood();
  console.log(reportStore.calSale());
};

// watch(foodStore.selectedFoodType () => {
//   });

// ตั้งค่า interval ให้เรียกใช้ฟังก์ชัน fetchRealtimeData() ทุกๆ 5 วินาที
const interval = setInterval(fetchRealtimeData, 500);
onUnmounted(() => clearInterval(interval));
onMounted(async () => {
  await orderStore.getOrdersHavePaid();
  await foodStore.getBestFood();
  await foodStore.getBadFood(foodStore.selectedFoodType.toString());
  reportStore.calBestFood();
  reportStore.calBadFood();
  // console.log();
  // console.log(foodStore.reportBestFood);
});
</script>

<template>
  <v-container style="height: 90vh">
    <v-sheet
      class="rounded-lg pa-2 mt-0"
      elevation="2"
      fluid
      style="
        height: auto;
        overflow: hidden;
        background-color: rgb(178, 223, 210);
      "
    >
      <v-row>
        <v-col cols="3" class="text-end">
          <v-card max-width="400" class="mx-auto">
            <v-card color="#1BD133">
              <v-row>
                <v-col cols="4" class="text-center" style="margin-top: 30px"
                  ><v-icon :icon="mdiCurrencyThb" size="100px"></v-icon>
                </v-col>
                <v-col cols="8">
                  <v-card-title>
                    <h6 style="font-size: 20pt">สรุปยอดขายวันนี้</h6>
                  </v-card-title>
                  <v-card-actions class="justify-end mr-2">
                    <h6 style="font-size: 15pt">
                      วันที่ {{ date.toLocaleDateString("th-TH") }}
                    </h6>
                  </v-card-actions>
                  <v-card-subtitle class="pa-4">
                    <h6 style="font-size: 20pt">
                      {{ reportStore.calSale() }}&nbsp;บาท
                    </h6>
                  </v-card-subtitle>
                </v-col>
              </v-row>
            </v-card>
          </v-card>
        </v-col>

        <v-col cols="3"> </v-col>
      </v-row>
    </v-sheet>
    <v-row>
      <v-col cols="6">
        <v-sheet
          class="rounded-lg pa-1 mt-5"
          elevation="2"
          fluid
          style="
            height: auto;
            width: auto;
            overflow: hidden;
            background-color: rgb(178, 223, 210);
          "
          justify-center
        >
          <apexchart
            type="line"
            height="350"
            :options="option3.chartOptions"
            :series="option3.series"
          ></apexchart>
        </v-sheet>
      </v-col>

      <v-col cols="6" class="text-center" justify-center>
        <v-sheet
          class="rounded-lg pa-2 mt-5"
          elevation="2"
          fluid
          style="
            height: auto;
            width: auto;
            overflow-x: hidden;
            background-color: rgb(178, 223, 210);
          "
        >
          <h6>&nbsp; รายรับและรายจ่าย</h6>
          <v-container flex id="menu">
            <apexchart
              width="500"
              type="donut"
              height="300"
              :options="options1"
              :series="options1.series"
            ></apexchart>
          </v-container>
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6" class="text-center" justify-center>
        <v-sheet
          class="rounded-lg pa-2 mt-0"
          elevation="2"
          fluid
          style="
            height: auto;
            width: auto;
            overflow: hidden;
            background-color: rgb(178, 223, 210);
          "
          justify-center
        >
          <h6>เมนูยอดฮิตวันนี้</h6>
          <v-container flex id="menu">
            <v-row>
              <v-col cols="2">
                <v-select
                  v-model="foodStore.selectedFoodType"
                  style="width: 9vw"
                  label="เลือกประเภทอาหาร"
                  :items="foodStore.foodTypes"
                  variant="solo"
                ></v-select>
              </v-col>
              <v-col cols="10" class="text-center" justify-end id="menu">
                <apexchart
                  width="500"
                  height="170"
                  type="bar"
                  :options="reportStore.option2"
                  :series="reportStore.option2.series"
                ></apexchart>
              </v-col>
            </v-row>
          </v-container>
        </v-sheet>
      </v-col>
      <v-col cols="6" class="text-center" justify-center>
        <v-sheet
          class="rounded-lg pa-2 mt-0"
          elevation="2"
          fluid
          style="
            height: auto;
            width: auto;
            overflow: hidden;
            background-color: rgb(178, 223, 210);
          "
          justify-center
        >
          <h6>เมนูยอดไม่ฮิตวันนี้</h6>
          <v-container flex id="menu">
            <v-row>
              <v-col cols="12" class="text-center" justify-end id="menu">
                <apexchart
                  width="500"
                  height="170"
                  type="bar"
                  :options="reportStore.option3.xaxis"
                  :series="reportStore.option3.series"
                ></apexchart>
              </v-col>
            </v-row>
          </v-container>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
#menu {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
</style>
