<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useEmployeeStore } from "@/stores/employee";
import VueDatePicker from "@vuepic/vue-datepicker";
import "@vuepic/vue-datepicker/dist/main.css";
const employeeStore = useEmployeeStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    employeeStore.saveEmployee();
  }
};
const date = ref(new Date());
const format = (date: Date) => {
  const day = date.getDate();
  const month = date.getMonth() + 1;
  const year = date.getFullYear();

  return `${year}/${month}/${day}`;
};

const items = [
  "พนักงานเสิร์ฟ",
  "แคชเชียร์",
  "พนักงานทำความสะอาด",
  "พ่อครัว",
  "ผู้บริหาร",
];
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="employeeStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">เพิ่มพนักงาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ชื่อ*"
                    v-model="employeeStore.editedEmployee.firstname"
                    :rules="[
                      (v) => !!v || 'ชื่อจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'ชื่อจะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="นามสกุล*"
                    v-model="employeeStore.editedEmployee.lastname"
                    :rules="[
                      (v) => !!v || 'นามสกุลจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'นามสกุลจะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="อายุ*"
                    v-model="employeeStore.editedEmployee.age"
                    type="number"
                    :rules="[
                      (v) => !!v || 'อายุจะต้องไม่เป็นช่องว่าง และไม่เท่ากับ 0',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="หมายเลขประจำตัว*"
                    v-model="employeeStore.editedEmployee.identityNum"
                    type="number"
                    :rules="[
                      (v) => !!v || 'หมายเลขประจำตัวจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'หมายเลขประจำตัวจะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="อีเมล*"
                    v-model="employeeStore.editedEmployee.email"
                    :rules="[
                      (v) => !!v || 'อีเมลจะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'อีเมลจะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                      (v) =>
                        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
                        'ใส่อีเมลให้ถูกต้อง',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <VueDatePicker
                    v-model="employeeStore.editedEmployee.birthday"
                    :enable-time-picker="false"
                    :format="format"
                    placeholder="วันเกิด"
                  />
                </v-col>

                <v-col cols="12">
                  <v-select
                    v-model="employeeStore.editedEmployee.role"
                    :items="items"
                    :rules="[(v) => !!v || 'ตำแหน่งงานจะต้องไม่เป็นช่องว่าง']"
                    label="ตำแหน่งงาน*"
                    required
                  ></v-select>

                  <!-- <v-text-field
                    label="Role*"
                    v-model="employeeStore.editedEmployee.role"
                    :rules="[
                      (v) => !!v || 'Role จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'Role จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                  ></v-text-field> -->
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="จำนวนเวลา*"
                    v-model="employeeStore.editedEmployee.hourrate"
                    type="number"
                    :rules="[(v) => !!v || 'จำนวนเวลาจะต้องไม่เป็นช่องว่าง']"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <small>*ระบุช่องที่ต้องกรอก</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="employeeStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
