<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useTableStore } from "@/stores/table";
const tableStore = useTableStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    tableStore.saveTable();
  }
};
// const clear = () => {
//   tableStore.dialog = false;
//   tableStore.clear();
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="tableStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">จัดการโต๊ะ</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="โต๊ะที่*"
                    v-model="tableStore.editedTable.name"
                    :rules="[(v) => !!v || 'โตีะที่จะต้องไม่เป็นช่องว่าง']"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="จำนวนที่นั่ง*"
                    v-model.number="tableStore.editedTable.amount"
                    :rules="[(v) => !!v || 'จำนวนที่นั่งจะต้องไม่เป็นช่องว่าง']"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="tableStore.dialog = false"
            ><h6 style="font-size: 15pt">Close</h6>
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"
            ><h6 style="font-size: 15pt">Save</h6>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
