<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useMaterialStore } from "@/stores/material";
const materialStore = useMaterialStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    materialStore.saveMaterial();
  }
};
// const clear = () => {
//   materialStore.dialog = false;
//   materialStore.clear();
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="materialStore.dialog" persistent width="50vw">
      <v-card>
        <v-card-title>
          <span class="text-h5">จัดการวัตถุดิบ</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="ชื่อวัตถุดิบ*"
                    v-model="materialStore.editedMaterial.name"
                    :rules="[(v) => !!v || 'ชื่อวัตถุดิบจะต้องไม่เป็นช่องว่าง']"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="จำนวนวัตถุดิบ*"
                    v-model.number="materialStore.editedMaterial.amount"
                    :rules="[
                      (v) => !!v || 'จำนวนวัตถุดิบจะต้องไม่เป็นช่องว่าง',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="จำนวนวัตถุดิบขั้นต่ำ*"
                    v-model.number="materialStore.editedMaterial.minimum"
                    :rules="[
                      (v) => !!v || 'จำนวนวัตถุดิบขั้นต่ำจะต้องไม่เป็นช่องว่าง',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-select
                    required
                    v-model="materialStore.editedMaterial.unit"
                    label="เลือกหน่วยของวัตถุดิบ*"
                    :items="materialStore.addMaterialUnits"
                    variant="solo"
                    :rules="[(v) => !!v || 'กรุณาเลือกประเภทอาหาร']"
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="materialStore.dialog = false"
            ><h6 style="font-size: 15pt">Close</h6>
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save"
            ><h6 style="font-size: 15pt">Save</h6>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
