<script setup lang="ts">
import { ref, watch } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import { useTableStore } from "@/stores/table";
import tableService from "@/services/table";
import { useOrderStore } from "@/stores/orders";
import type Table from "@/types/Table";
const tablestore = useTableStore();
const popupManagement = usemanagePopupStore();
const orderService = useOrderStore();
const statusTable = ref(tablestore.tables[tablestore.indexSelected].status);

const props = withDefaults(
  defineProps<{
    id: number;
    name: string;
    amount: number;
    status: string;
  }>(),
  {}
);

function changeStatus(statusSelected: string) {
  statusTable.value = statusSelected;
  tablestore.tables[tablestore.indexSelected].status = statusSelected;
  const index = tablestore.tables.findIndex(
    (item) => item.id === tablestore.indexSelected
  );
  if (statusSelected === "กำลังใช้งาน") {
    let table: Table = {
      // id: tablestore.indexSelected + 1,
      status: "กำลังใช้งาน",
      // name: (tablestore.indexSelected + 1).toString(),
    };
    tableService.updateTable(tablestore.tables[props.id].id!, table);
    orderService.openOrder(tablestore.tables[props.id]);
  } else if (statusSelected === "พร้อมใช้งาน") {
    let table: Table = {
      status: "รอทำความสะอาด",
    };
    tableService.updateTable(
      tablestore.tables[tablestore.indexSelected].id!,
      table
    );
  } else if (statusSelected === "รอทำความสะอาด") {
    let table: Table = {
      status: "รอทำความสะอาด",
    };
    tableService.updateTable(
      tablestore.tables[tablestore.indexSelected].id!,
      table
    );
  } else if (statusSelected === "กำลังทำความสะอาด") {
    let table: Table = {
      status: "กำลังทำความสะอาด",
    };
    tableService.updateTable(
      tablestore.tables[tablestore.indexSelected].id!,
      table
    );
  }
}

watch(
  () => popupManagement.popupTable,
  () => {
    statusTable.value = tablestore.tables[tablestore.indexSelected].status;
  }
);
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-dialog v-model="popupManagement.popupTable">
        <v-container>
          <v-row>
            <v-col>
              <!-- <v-card> -->
              <v-card
                class="mx-auto"
                max-width="50vh"
                rounded
                style="
                  height: 80vh;
                  overflow-y: auto;
                  border: solid #00695c;
                  background-color: #cfd8dc;
                "
              >
                <v-card-title style="text-align: center" class="pa-4 mt-4">
                  <h6 style="font-size: 40pt">โต๊ะ {{ props.id }}</h6>
                </v-card-title>

                <v-card-title style="text-align: center" class="pa-4">
                  <h6 style="font-size: 30pt">
                    จำนวนที่นั่ง {{ props.amount }}
                  </h6>
                </v-card-title>

                <v-container class="pt-1">
                  <v-row>
                    <v-col cols="12"
                      ><v-btn
                        :style="
                          statusTable === 'พร้อมใช้งาน'
                            ? 'border: solid #00695c; background-color: #b2dfdb'
                            : 'border: solid #000000; background-color: #FBFBF9'
                        "
                        block
                        @click="changeStatus('พร้อมใช้งาน')"
                        size="x-large"
                      >
                        <h6 style="font-size: 20pt">พร้อมใช้งาน</h6>
                      </v-btn></v-col
                    >

                    <v-col cols="12"
                      ><v-btn
                        block
                        @click="changeStatus('กำลังใช้งาน')"
                        :style="
                          statusTable === 'กำลังใช้งาน'
                            ? 'border: solid #FF0000; background-color: #FFCCCB'
                            : 'border: solid #000000; background-color: #FBFBF9'
                        "
                        size="x-large"
                      >
                        <h6 style="font-size: 20pt">กำลังใช้งาน</h6>
                      </v-btn></v-col
                    >
                    <v-col cols="12"
                      ><v-btn
                        block
                        @click="changeStatus('รอทำความสะอาด')"
                        :style="
                          statusTable === 'รอทำความสะอาด'
                            ? 'border: solid #808080; background-color: #C0C0C0'
                            : 'border: solid #000000; background-color: #FBFBF9'
                        "
                        size="x-large"
                      >
                        <h6 style="font-size: 20pt">รอทำความสะอาด</h6>
                      </v-btn></v-col
                    >
                    <v-col cols="12"
                      ><v-btn
                        block
                        @click="changeStatus('กำลังทำความสะอาด')"
                        :style="
                          statusTable === 'กำลังทำความสะอาด'
                            ? 'border: solid #FFFF00; background-color: #FFFFE0'
                            : 'border: solid #000000; background-color: #FBFBF9'
                        "
                        size="x-large"
                      >
                        <h6 style="font-size: 20pt">กำลังทำความสะอาด</h6>
                      </v-btn></v-col
                    >
                    <v-col cols="12"
                      ><v-btn
                        block
                        :to="'/menu/' + useOrderStore().currentOrder"
                        @click="changeStatus('กำลังทำความสะอาด')"
                        :style="
                          statusTable === 'กำลังทำความสะอาด'
                            ? 'border: solid #FFFF00; background-color: #FFFFE0'
                            : 'border: solid #000000; background-color: #FBFBF9'
                        "
                        size="x-large"
                      >
                        <h6 style="font-size: 20pt">ขายของ</h6>
                      </v-btn></v-col
                    >
                  </v-row>
                </v-container>
                <v-container>
                  <v-row class="pa-0 justify-center mt-1"
                    ><v-btn
                      text
                      @click="popupManagement.popupTable = false"
                      style="border: solid #00695c; background-color: #ffffff"
                    >
                      <h6 style="font-size: 15pt; color: red">ออก</h6>
                    </v-btn></v-row
                  >
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-dialog>
    </v-row>
  </v-container>
</template>

<style scoped>
table {
  background-color: antiquewhite;
}

img {
  margin: 20px 20px;
}
</style>
