<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useSalaryStore } from "@/stores/salary";
import "@vuepic/vue-datepicker/dist/main.css";
import employee from "@/services/employee";
const salaryStore = useSalaryStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    salaryStore.saveSalary();
  }
};

const date = ref(new Date());
const format = (date: Date) => {
  const day = date.getDate();
  const month = date.getMonth() + 1;
  const year = date.getFullYear();

  return `${year}/${month}/${day}`;
};
</script>

<template>
  <VRow justify="center">
    <VDialog v-model="salaryStore.dialog" persistent>
      <VCard>
        <VCardTitle>
          <span class="text-h5">Salary Add</span>
        </VCardTitle>
        <VCardText>
          <VForm ref="form">
            <VContainer>
              <VRow>
                <v-col cols="12">
                  <v-text-field
                    label="First name*"
                    v-model="salaryStore.editedSalary.firstname"
                    :rules="[
                      (v) => !!v || 'First name จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'First Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Last name*"
                    v-model="salaryStore.editedSalary.lastname"
                    :rules="[
                      (v) => !!v || 'Last name จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 2 ||
                        'Last Name จะต้องมีขนาดมากกว่าหรือเท่ากับ 2 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>
                <VCol cols="12">
                  <VTextField
                    label="Salary*"
                    v-model="salaryStore.editedSalary.salary"
                    type="number"
                    :rules="[
                      (v) =>
                        !!v || 'Salary จะต้องไม่เป็นช่องว่าง และไม่เท่ากับ 0',
                    ]"
                    required
                  ></VTextField>
                </VCol>
                <v-col cols="12">
                  <VueDatePicker
                    v-model="salaryStore.editedSalary.date"
                    :enable-time-picker="false"
                    :format="format"
                    placeholder="วันที่"
                  />
                </v-col>
              </VRow>
            </VContainer>
          </VForm>

          <small>*indicates required field</small>
        </VCardText>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-4"
            variant="text"
            @click="salaryStore.dialog = false"
          >
            Close
          </v-btn>
          <v-btn color="blue-darken-1" variant="text" @click="save">
            Save
          </v-btn>
        </v-card-actions>
      </VCard>
    </VDialog>
  </VRow>
</template>
<style scoped></style>
