<script lang="ts" setup>
import { ref } from "vue";
import { usemanagePopupStore } from "@/stores/popupManagement";
import QrcodeVue from "qrcode.vue";
import { useQrCodeStore } from "@/stores/qrcode";
const qrcodeStore = useQrCodeStore();
const popupStore = usemanagePopupStore();

const closeDialog = () => {
  popupStore.scanQR = false;
};
const size = ref(250);
const onDecode = () => {
  // handle QR code data
  // ประมวลผลข้อมูลจาก QR code ตามที่ต้องการ
  // ...
  closeDialog();
};
</script>
<template>
  <v-dialog v-model="popupStore.scanQR" max-width="500px" max-height="500px">
    <v-card class="align-center" height="500px">
      <v-card-title class="justify-center"
        >Scan QR Code โต๊ะ {{ popupStore.nameTable }}</v-card-title
      >
      <v-card-text>
        <qrcode-reader @decode="onDecode" :preview="false" />
      </v-card-text>

      <v-row>
        <v-col cols="12">
          <qrcode-vue :value="qrcodeStore.link" :size="size" level="H"
        /></v-col>
      </v-row>
      <v-row>
        <v-btn color="error" text @click="closeDialog">Cancel</v-btn></v-row
      >
    </v-card>
  </v-dialog>
</template>
