<script setup lang="ts">
import { ref } from "vue";
import type { VForm } from "vuetify/components";
import { useUserStore } from "@/stores/users";
import { mdiCheckBold, mdiCloseThick } from "@mdi/js";
const userStore = useUserStore();
const form = ref<VForm | null>(null);
const save = async () => {
  const { valid } = await form.value!.validate();
  if (valid) {
    userStore.saveUser();
  }
};
const items = ["ผู้บริหาร", "พนักงาน", "พ่อครัว"];
// const clear = () => {
//   userStore.dialog = false;
//   userStore.clear();
// };
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="userStore.dialog" persistent>
      <v-card>
        <v-card-title>
          <span class="text-h5">เพิ่มผู้ใช้งาน</span>
        </v-card-title>
        <v-card-text>
          <v-form ref="form">
            <v-container>
              <v-row>
                <v-col cols="6">
                  <v-text-field
                    label="ชื่อผู้ใช้เข้าสู่ระบบ*"
                    v-model="userStore.editedUser.login"
                    :rules="[
                      (v) =>
                        !!v || 'ชื่อผู้ใช้เข้าสู่ระบบ จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'ชื่อผู้ใช้เข้าสู่ระบบ จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="6">
                  <v-text-field
                    label="รหัสผ่าน*"
                    v-model="userStore.editedUser.password"
                    type="password"
                    :rules="[
                      (v) => !!v || 'รหัสผ่าน จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 8 ||
                        'รหัสผ่าน จะต้องมีขนาดมากกว่าหรือเท่ากับ 8 ตัวอักษร',
                      (v) =>
                        /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/.test(
                          v
                        ) ||
                        'รหัสผ่าน จะต้องมี ตัวอักษร เลขใหญ่ และประกอบด้วย Special Character',
                    ]"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12">
                  <v-text-field
                    label="ชื่อผู้ใช้*"
                    v-model="userStore.editedUser.name"
                    :rules="[
                      (v) => !!v || 'ชื่อผู้ใช้ จะต้องไม่เป็นช่องว่าง',
                      (v) =>
                        v.length >= 5 ||
                        'ชื่อผู้ใช้ จะต้องมีขนาดมากกว่าหรือเท่ากับ 5 ตัวอักษร',
                    ]"
                  ></v-text-field>
                </v-col>

                <v-col cols="6">
                  <v-select
                    v-model="userStore.editedUser.position"
                    :items="items"
                    :rules="[(v) => !!v || 'ตำแหน่งงานจะต้องไม่เป็นช่องว่าง']"
                    label="ตำแหน่งงาน*"
                    required
                  ></v-select>
                </v-col>

                <v-col cols="6">
                  <v-file-input
                    v-model="userStore.editedUser.files"
                    accept="image/*"
                    label="เลือกรูปภาพ"
                  ></v-file-input>
                </v-col>
              </v-row>
            </v-container>
          </v-form>

          <small style="color: red">*จำเป็นต้องระบุ</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :prepend-icon="mdiCloseThick"
            color="red darken-4"
            variant="text"
            @click="userStore.dialog = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            :prepend-icon="mdiCheckBold"
            color="blue-darken-1"
            variant="text"
            @click="save"
          >
            บันทึก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style scoped></style>
